<!-- nav-menu.html -->
<template>
  <header>
    <nav id="cssmenu">
      <div class="logo">
        <a href="/">
          <img width="50" src="../../assets/images/Cauliflower.png" alt="Cauliflower Logo">
        </a>
      </div>
      <ul>
        <li><a href="/pages/art/art.html" id="one">Art</a></li>
        <li><a href="/pages/code/code.html" id="two">Code</a></li>
      </ul>
    </nav>
  </header>
  <div id="login">
      <ul>
        <li><a href="#" id="three">LOGIN</a></li>
      </ul>
  </div>
  <link rel="stylesheet" type="text/css" href="./nav-menu.css" />
</template>
