<!-- nav-menu.html -->
<template>
  <header>
    <nav id="cssmenu">
      <div class="logo">
        <a href="/">
          <img width="50" src="../../assets/images/Cauliflower.png" alt="Cauliflower Logo">
        </a>
      </div>
      <ul>
        <li><a href="/art" id="one">Art</a></li>
        <li><a href="/code" id="two">Code</a></li>
      </ul>
    </nav>
  </header>
  <div id="login">
      <ul>
        <li>
          <a href="/auth" id="three">LOGIN</a>
        </li>
      </ul>
  </div>
  <link rel="stylesheet" type="text/css" href="/components/nav-menu/nav-menu.css" />
</template>
