services:
  cauliflower-app:
    image: cauliflower
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SOCKET_FIREWALL_KEY: ${SOCKET_FIREWALL_KEY}
    env_file:
      - .env
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: production
    restart: unless-stopped
