/* Import Iceberg font */
@font-face {
    font-family: 'Iceberg';
    src: url('/fonts/Iceberg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    overflow: hidden;
    font-family: 'Iceberg', Arial, sans-serif;
    height: 100%;
    cursor: url('/assets/cursor/transparent-rainbow-cursor.cur'), auto;
}

h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1;
}
