/* Import Iceberg font */
@font-face {
    font-family: 'Iceberg';
    src: url('/src/fonts/Iceberg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 46px;
    overflow: hidden;
    font-family: 'Iceberg', Arial, sans-serif;
    height: 100%;
    cursor: url('/assets/cursor/transparent-rainbow-cursor.cur'), auto;
}

.container {
    margin-top: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
}